$primary-color: #009688;
$accent-color: #212B40;
$text-color: rgba(0, 0, 0, .87);
$secondary-color: rgba(0, 0, 0, .54);
$disabled-color: rgba(0, 0, 0, .38);
$hint-color: rgba(0, 0, 0, .38);
$icon-color: rgba(0, 0, 0, .38);
$active-color: rgba(0, 0, 0, .54);
$inactive-color: rgba(0, 0, 0, .38);
$divider-color: rgba(0, 0, 0, .12);
